@import "~bootstrap/scss/bootstrap";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
  }
  
  html , body , #root {
    height: 100vh;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  #root {
    //display: flex;
    flex-direction: column;
  }
  
  #root > main , #root > header , #root > footer {
    padding: 1rem;
  }
  
  #root > main {
    flex-grow: 1;
  }

  main{
    > h1 {
      padding-bottom: 2rem;
    }
  }
  
  .header {
    background: linear-gradient(to left, #c4d3fcc0, rgba(146, 135, 221, 0.527));
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
    nav {
      a {
        margin-left: 1rem;
      }
    }
  }

  .modal{
    position: fixed;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.2);
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem;
  }
  
  .card {
    padding: 1rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    border-radius: 3px;
    img{
      width: 300px;
    }
    /*&:hover {
      transform : scale(1.1);
    }*/
  }
  
  .cardDetail {
    margin: 1rem;
    padding: 1rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    img {
      width: 300px;
      margin: auto;
    }
  }
  
  .imagenMain {
    display: block;
    margin: auto;
    width: 400px;
  }
  
  .imagenDetalle {
    width: 300px;
  }
  
  .footer {
    background: linear-gradient(to left, #c4d3fcc0, rgba(146, 135, 221, 0.527));
    //display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }